@charset "utf-8";
@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('../js/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?') format('eot'), 
url('../js/HelveticaNeue-Bold/HelveticaNeue-Bold.woff') format('woff'), 
url('../js/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf') format('truetype'),
url('../js/HelveticaNeue-Bold/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
}
#loading-page {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 8888;
	background-color: #FFF;
	background-image: url(../images/loading_2.GIF);
	background-repeat: no-repeat;
	background-position: center center;
	left: 0px;
	top: 0px;
} 
.font-gentfont{font-family: "HelveticaNeue-Bold";direction: ltr;}
#main-content {
	width: 800px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
 
.content-comment {
	background-color: #efefef;
	margin: auto;
	padding: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d7d7d7;
}
.content-width {
	margin: auto;
	width: 800px;
}.form-comment p{ margin-bottom:10px}
.row-comment {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d0d0d0;
	padding-top: 25px;
	padding-bottom: 25px;
}.formError{ left:40px!important}
.bxslider li { text-align:center!important} 
.btnLike,.btnUnLike{ cursor:pointer}
 #divLike{ position:relative}
#apDiv1 {
	position: absolute;
	width: 121px;
	height: 46px;
	z-index: 1;
	background-image: url(../images/bg_login_like.png);
	background-repeat: repeat;
}
